@charset "utf-8";
/* CSS Document */
/*
html{
	position: relative;
background: url("../images/4.jpg")no-repeat;
 background-size:cover;
background-position:center;
}
*/
.pull-left{
	float:left;
}


.pull-right{
	float:right;
}


.desktop{
	max-width:1100px;
	margin: 0 auto;
	
}

.desktop-header{
	overflow:hidden;
		height:80px;
	line-height: 80px;
	width:100%;
}


.desktop-header-logo{
	margin-top: 32px;
	width:200px;
	height:44px;
	display: inline-block;
}

.desktop-header ul li{
	display: inline-block;
	box-sizing: border-box;
	padding:0 20px;
	

}


.desktop-header a{
	color: #4b515f;
	height: 40px;
	line-height: 44px;
	font-size: 16px;
	font-weight: 450;
	margin-top: 32px;
	
}


.desktop-content{
	position: absolute;
	display: table;
	margin:0 auto;
	width:1200px;
	bottom:0;
}


.desktop-contact-bg{
	background: url("../images/contact.jpg")no-repeat;
 background-size:cover;
background-position:center;
	
	height:1080px;
	
}

.desktop-company-bg{
	background: url("../images/company.jpg")no-repeat;
 background-size:cover;
background-position:center;
	
	height:1080px;
	
}



.header_app {
	text-align:center;
	position:relative;
}		
	
	
	
.header_app span.left_app {
	z-index: 99;
position:absolute;
	
	left:100px;
	top:45px;
	display:block;
	width:300px;
	height:85px;



}	
	
.app-bg{
	
		background: url("../images/index-12.jpg")no-repeat;

}	
	
.pro-intro-download{
	
position:relative;
	
	
}

.open-app-w{
	

padding-top: 20px;
	position: absolute;

	


	top:50%; 
	left:50%;

 margin-top: -755px;
    margin-left: 180px;
}



.open-app-w .open-app{
	
	width:151px;
     height:69px;
    background: url(../images/open_app.png) 0 0 no-repeat;
	background-size:cover;
	
}


.pro-intro-download .pro-intro-download-btns-app{
	padding-top: 20px;
	position: absolute;

	color: #fff;
	


	top:50%; 
	left:50%;

 margin-top: -410px;
    margin-left: -190px;
	
	
	
}	
	
	
	
.pro-intro-download-btns-app .apple-app {
       border-radius: 5px;
	width:370px;
     height:110px;
    background: url(../images/apple_app.png) 0 0 no-repeat;
	background-size:cover;
	margin-bottom: 22px;
     text-align: center;
}



.pro-intro-download-btns-app .google-app {
   border-radius: 5px;
	width:370px;
     height:110px;
    background: url(../images/google_app.png) 0 0 no-repeat;
	background-size:cover;
    text-align: center; 
}	
	



.pro-intro-download-btns-app .apple-cn {
       border-radius: 5px;
	width:370px;
     height:110px;
    background: url(../images/apple_cn.png) 0 0 no-repeat;
	background-size:cover;
	margin-bottom: 22px;
     text-align: center;
}



.pro-intro-download-btns-app .google-cn {
   border-radius: 5px;
	width:370px;
     height:110px;
    background: url(../images/google_cn.png) 0 0 no-repeat;
	background-size:cover;
    text-align: center; 
}	



	
.header_app span.left_app img {
	
	width:3.86666rem;
	height:0.82666rem;

}	




.gotoimg:hover{
 background:url("../images/gotoTOP.jpg");   
    
}



.desktop-content-download,.desktop-content-preview{
	display:table-cell;
	width:50%;
	vertical-align: middle;
	
}

.desktop-content-download{
	
/*	padding-top:20%;*/
	padding-left: 100px;
	padding-bottom: 300px;
}



.desktop-content-download-page4{
	display:table-cell;
	width:60%;
	padding-top: 100px;
/*	vertical-align: middle;*/
	
}

.desktop-content-preview-page4{
	display:table-cell;
	width:40%;
	vertical-align: middle;
	
}

.desktop-content-download-page4{
	
/*	padding-top:20%;*/
/*	padding-left: 200px;*/
}

/*
@media screen and (min-width:960px)and (max-width:1919px){

	.desktop-content-preview-page4 .desktop-phone-page4{
		right:150px;
		background-size:80%;
	}
}
*/


.desktop-content-preview-page4 .desktop-phone-page4{
/*	margin-left: 100px;*/
	width:610px;
	height:738px;
	display:inline-block;

	background: url(../images/shou-wifi.gif) no-repeat bottom;
	background-size: 90%;
	background-position:100% 100%;
/*		margin-left:40px;*/

	
/*	right:300px;*/
/*	bottom: 0;*/
}





.slogen-top{
	display:inline-block;
	text-align: left;
/*	position: relative;*/
	
	
}

.slogan-top p{
text-align: left;
	color:#4b515f;
}


.slogan-top p:first-child{
	font-size:40px;
	font-weight: 700;
    margin-bottom: 40px;
}


.slogan-top p:last-child{
	font-size:18px;
    letter-spacing: 0.3px;
	width:250px;
/*    margin-bottom: 40px;*/
}


.desktop-btns{
	margin-top: 40px;
}


.desktop-btns .apple-img a{

	width:224px;
     height: 61px;
    background: url(../images/apple.png) 0 0 no-repeat;
	margin-bottom: 20px;
      border-radius: 5px;
}



.desktop-btns .google-img a{

	width:224px;
     height: 61px;
    background: url(../images/google.png) 0 0 no-repeat;
     border-radius: 5px;
}



.desktop-content-preview{
	text-align: left;
}

.desktop-content-preview .desktop-phone{
	
	width:665px;
	height:856px;
	display:inline-block;
	position: absolute;
	 background: url(../images/shouji.gif) no-repeat;
	background-size: 85%;
	background-position:100% 100%;
	bottom: 0;
	left:-130px;
}
.desktop-footer{
	
	width:1100px;
}
.desktop-footer .next-page{
	width:50px;
	height:50px;
	position:absolute;
/*	 background: url(../images/Dropdown.png) no-repeat;*/
	left: -webkit-calc(50% - 25px);

	bottom:35px;
	
}

.headerindex{
    width:100%;
    height: 4em;
    min-height: 4em;
    z-index: 17;
    background: none;
    min-width: 1000px; 
    _width:expression(document.body.clientWidth < 1001? "1000": "auto" );
}
.fixed{
    position: fixed;
/*    top: 1em;*/
    left: 0;
}
.b_bottom{
    margin-top:1em;
    border-bottom:1px solid #E7E7E7;
}
.header_wrap{
    position:relative;
    width:60%;
    height:100%;
    margin:0 auto;
}

.public-header a.logo, .public-header a.logo_grey{
    position: absolute;
    top: .3em;
    left: 3em;
    text-decoration: none;
    text-indent: -999em;
    display: block;
    width: 180px;
    height: 40px;
}

.public-header a.logo{ background: url(../images/logo.png) no-repeat;}
.public-header a.logo_grey {background: url(../images/logo-black.png) no-repeat;}

.headerindex .nav, .headerindex .nav_grey{
    position: absolute;
    top: .6em;
    right: 1em;
    display: block;
    z-index: 18;
}
.headerindex .nav a, 
.headerindex .nav_grey a{
    text-decoration: none;
    font-size: 1em;
    color: #fff; 
    padding:0 1em; 
/*    border-right: 2px solid #fff;*/
}
.headerindex .nav_grey a{
    color:#555;
/*    border-right: 1px solid #555;*/
}
.headerindex .nav a img,
.headerindex .nav_grey a img{
    margin-left: .2em;
}