@charset "utf-8";
/* CSS Document */
.page1-text {letter-spacing:2px;}
.page1-intro{
    margin:0 auto;
}
.page1-intro .page1-text{color:#FFF;font-size:40px;left:0px;font-weight: bold; float:left;margin-top:380px;margin-left: 280px;

}


.page1-actions .btn-buy{width:166px;height:44px;background:#f7941d;border:0 none;border-radius:45px;color:#FFF;cursor:pointer;_cursor:hand;display:inline-block;font-size:16px;outline:0 none;*vertical-align:middle;text-align: center;line-height: 44px;

position:absolute;
left:467px;
margin-top:454px;	

}
.page1-actions .btn-buy:hover{background:#f9a239}
.page1-actions .btn-buy:active{background:#f9a239}

.mobile-content .pic-img img{
    width: 100%;
}




/*
.page2-intro{
 position: absolute;
    top: 50%;
    height: 240px;
    margin-top: -120px; 

}
*/
.page2-intro .page2-text-h1{letter-spacing:0.3px;color:#4b515f;font-size:40px;float:right;margin-top:310px;margin-right:128px;

}

.page2-intro .page2-text{letter-spacing:0.3px;color:#4b515f;font-size:20px;text-align: left; float:right;margin-top:40px;margin-left:675px;line-height: 30px;


}


.page2-intro .page2-img{width:425px;float:left;margin-top:40px;margin-left: 727px;


}
.page2-intro .page2-img .LiveTrackerIcon,.page2-intro .page2-img .SoundIcon,.page2-intro .page2-img .PawIcon{
float:left;
	margin-left:9px;
	margin-bottom:9px;

}




.page2-intro .page2-img{
	
	height: 90px;

	
}

.page2-img .LiveTrackerIcon a{
     height: 44px;
	width:170px;
    background: url(../images/LiveTrackerIcon1.png) 0 0 no-repeat;
     
}

.page2-img .LiveTrackerIcon a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/LiveTrackerIcon2.png) 0 0 no-repeat;
     
}


.page2-img .SoundIcon a{
	width:202px;
     height: 44px;
    background: url(../images/SoundIcon1.png) 0 0 no-repeat;
     
}

.page2-img .SoundIcon a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/SoundIcon2.png) 0 0 no-repeat;
     
}



.page2-img .PawIcon a{
	width:202px;
     height: 44px;
    background: url(../images/Paw1.png) 0 0 no-repeat;
     
}

.page2-img .PawIcon a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/Paw2.png) 0 0 no-repeat;
     
}



/*
.page3-intro{
 position: absolute;
    top: 50%;
    height: 240px;
    margin-top: -120px; 
margin-left:410px;
}
*/



.page3-intro .page3-text-h1{letter-spacing:0.3px;color:#fff;font-size:36px;text-align:left;margin-top: 248px; margin-bottom:40px;

}

.page3-intro .page3-text{letter-spacing:0.3px;color:#fff;font-size:18px;text-align:left;margin-bottom:20px;margin-left:0px;line-height: 30px;


}

.page3-intro .page3-text a{
	
	display: inline;
	font-weight: 450;
	color:#f7941d;
}


.page3-intro .page3-img{width:400px;float:left;margin-top:14px;


}

.page3-intro .page3-img .Activehour,
.page3-intro .page3-img .burnicon,
.page3-intro .page3-img .Dogicon,
.page3-intro .page3-img .Distanceicon
{
float:left;
	margin-right:10px;
	margin-bottom:10px;

}


.page3-img .Activehour a{
	width:145px;
     height: 44px;
    background: url(../images/Activehour1.png) 0 0 no-repeat;
     
}

.page3-img .Activehour a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/Activehour2.png) 0 0 no-repeat;
     
}


.page3-img .burnicon a{
	width:157px;
     height: 44px;
    background: url(../images/burnicon1.png) 0 0 no-repeat;
     
}

.page3-img .burnicon a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/burnicon2.png) 0 0 no-repeat;
     
}



.page3-img .Dogicon a{
	width:145px;
     height: 44px;
    background: url(../images/Dogicon1.png) 0 0 no-repeat;
     
}

.page3-img .Dogicon a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/Dogicon2.png) 0 0 no-repeat;
     
}


.page3-img .Distanceicon a{
	width:163px;
     height: 44px;
    background: url(../images/Distanceicon1.png) 0 0 no-repeat;
     
}

.page3-img .Distanceicon a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/Distanceicon2.png) 0 0 no-repeat;
     
}


.page4-intro{
	width:600px;
	
}

.page4-intro .page4-text-h1{letter-spacing:0.3px;color:#4b515f;font-size:36px;text-align:left;margin-bottom:40px;

}

.page4-intro .page4-text-h1 .yellowline{
	display: inline-block;
	width: 25px;
margin-top: 31px;
margin-left: 15px;
	
	border-bottom: 5px solid #f7941d;
}


.page4-intro .page4-text-h3{letter-spacing:0.3px;color:#4b515f;font-size:22px;margin-top:55px;text-align:left;margin-bottom:10px;


}

.page4-intro .page4-text{letter-spacing:0.3px;color:#4b515f;font-size:18px;text-align:left;margin-bottom:26px;margin-left:0px;line-height: 30px;width:700px;


}



.page4-intro .line-img{
	position:absolute; top:-100px;left:200px;

}

.page4-intro .wifi-img{
/*
	position:absolute;
    
	width:610px;
	
	height:738px;
	
	background-position:left bottom;
	background: url(../images/shou-wifi.gif) 0 0 no-repeat;
*/
	
	
	
	
	

}


.shou-wifi{
	
	

	
}

.shou-wifi .shou-wifi-page{
position: absolute;


right:200px;

bottom:-130px;


	
}












.page4-intro .page4-img{width:600px;margin-top:14px;


}

.page4-img .temperatrue a{
	margin-right: 10px;
float:left;
	display:inline-block;
	width:146px;
     height: 44px;
    background: url(../images/temperatrue1.png) 0 0 no-repeat;
     
}

.page4-img .temperatrue a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/temperatrue2.png) 0 0 no-repeat;
     
}



.page4-img .removal a{
	margin-right: 10px;
float:left;
	display:inline-block;
	width:146px;
     height: 44px;
    background: url(../images/removal1.png) 0 0 no-repeat;
     
}

.page4-img .removal a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/removal2.png) 0 0 no-repeat;
     
}




.page4-img .virtual a{
float:left;
	display:inline-block;
	width:175px;
     height: 44px;
    background: url(../images/virtual1.png) 0 0 no-repeat;
     
}

.page4-img .virtual a:hover{
/*transition: opacity 0.2s ease-in;*/
    background: url(../images/virtual2.png) 0 0 no-repeat;
     
}




.page5-intro .page5-text-h1{letter-spacing:0.3px;color:#fff;font-size:40px;margin-top:150px;text-align:center;

}




.page5-intro .page5-text-h3{letter-spacing:0.3px;color:#fff;font-weight:200; font-size:30px;margin-top:32px;text-align:center;


}

.page5-intro .page5-text{letter-spacing:0.3px;color:#a1a1a1;font-size:18px;text-align:center;margin-top:25px;line-height: 30px;


}
.page6-intro .page6-text-h1{letter-spacing:0.3px;color:#fff;font-size:40px;margin-top:450px;text-align:left;

}
.page6-intro .page8-text-h1{letter-spacing:0.3px;color:#333;font-size:40px;margin-top:320px;text-align:left;

}
.page6-intro .page8-text{
    letter-spacing: 0.3px;
    color: #333;
    font-size: 14px;
    text-align: left;
    margin-top: 44px;
    margin-left: 0px;
    line-height: 26px;
}
.page6-intro .page6-text-h1 .yellowline,.page6-intro .page8-text-h1 .yellowline{
	display: inline-block;
	width: 7px;
margin-top: 22px;
margin-left: 16px;
	
	border-bottom: 18px solid #f7941d;
}


.page6-intro .page6-text-h3{letter-spacing:0.3px;color:#fff;font-size:20px;font-weight: 400; margin-top:35px;text-align:left;


}

.page6-intro .page6-text{letter-spacing:0.3px;color:#fff;font-size:14px;text-align:left;margin-top:44px;margin-left:0px;line-height: 26px;


}

.page6-intro .page6-text a{
	
	display: inline;
	font-weight: 450;
	color:#f7941d;
}





.page7-intro .page7-text-h1{letter-spacing:0.3px;color:#4b515f;font-size:40px;margin-top:385px;text-align:left;margin-bottom:40px;margin-left:715px;

}





.page7-intro .page7-text{letter-spacing:0.3px;color:#4b515f;font-size:18px;text-align:left;margin-bottom:40px;margin-left:715px;line-height: 30px;


}



.page7-intro .page7-img{margin-left:715px;


}


.page7-img .apple-img a{

	width:224px;
     height: 61px;
    background: url(../images/apple.png) 0 0 no-repeat;
	margin-bottom: 20px;
     
}



.page7-img .google-img a{

	width:224px;
     height: 61px;
    background: url(../images/google.png) 0 0 no-repeat;
     
}


.shouji-img{
	position:absolute;

bottom:0px;

left:400px;
	
}

.page8-intro{

	margin:auto;
}

.page8-intro .page8-text-h1{letter-spacing:0.3px;color:#fff;font-size:40px;text-align:center;

}






.page8-intro .page8-text{letter-spacing:0.3px;color:#fff;font-size:18px;text-align:center;margin-top:25px;line-height: 30px;


}

.page-footer{
    width:100%;
    height:150px;
    padding-top:70px;
    background: #4b515f;
    
}


.page-footer .page-footer-nav{
    margin-bottom: 25px;
     text-align:center;
}

.page-footer .page-footer-nav .item{
    
  
    	display: inline-block;
    
    margin-left:36px;
    
}

.page-footer .page-footer-nav .item:first-child {
    margin-left: 0;
}



.page-footer .page-footer-nav a{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
}


.page-footer .page-footer-nav a:hover{
color:#f7941d;
transition:all 0.2s ease-in-out;
}

.page-footer .footer-line{
    
    margin: 0 auto; width:610px;
    
    
    border-top: 1px solid #e1e1e1;

}


.page-footer .footer-info{
    font-size: 14px;
    font-weight: bold;
    color:#c4c5c9;
    margin-top: 18px;
 text-align:center;
 
    letter-spacing:0.5px;
}

.contact-bottom-p{
      
    height: 130px;
    width:100%;
      background: #f7941d;

   
}


.contact-bottom-p h1{
	font-family: "Open Sans SemiBold";
    font-size: 24px;
     text-align:center;
    line-height: 130px;
    color:#fff;
    letter-spacing:0.8px;
    
}



.pc .pop {  display: none;  width: 480px; 
/*	min-height: 272px;  max-height: 272px;  height:272px; */
	position: absolute;  top: 300px;  left: 0;   right: 0;  margin: auto;  z-index: 130;  border-radius: 6px;  background-color: #fff;}

.pc .pop-page6-1 {  display: none;  width: 480px; min-height: 320px;  max-height: 320px;  height:500px;  position: absolute;  top: 200px;  left: 0;  bottom: 0;  right: 0;  margin: auto;  z-index: 130;  border-radius: 6px;  background-color: #fff;}

.pc .pop-top{  height:22px;  width:100%;    }

.pc .pop-top span{  float: right;  cursor: pointer;  font-weight: bold; display:black;padding-top: 10px;padding-right: 10px;}
       
.pc  .pop-content{ padding:20px 40px 40px;  }
.pc .pop-content-text{text-align:left; color: #333;font-size: 16px;line-height: 25px;}
.pc  .bgPop{  display: none;  position: absolute;  z-index:129;  left: 0;  top: 0;  width: 100%;  height: 2000px;  background: rgba(0,0,0,.2);  }