


@media only screen and (min-width:750px) {
	
.page-header{
	height: 100px;
	
}



.page-header .page-header-logo{
	float:left;
	margin-top: 25px;

	
}

.page-header .page-header-logo a{
	width:200px;
	height: 44px;
	background: url("https://www.mypawfit.cn/images/logo2.png");
	
}




.page-header .page-header-nav{
	
	float:right;

	margin-top: 44px;
	
	
}


/*
.page-header .page-header-nav .item{
	
	

	
	color:#4b515f;
  float:left;

    
    margin-left:40px;
    
}
*/

.page-header .page-header-nav a{
    
    color:#4b515f;
} 




.page-header .page-header-nav .item {
      float:left;
        text-decoration: none;
        
     margin-left:40px;
        font-size: 16px;
        position: relative;
   
    }

.page-header .page-header-nav .item::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        background-color: #f7941d;
        width: 0;
        -webkit-transition: width 0.2s linear;
        transition: width 0.2s linear;
    }

.page-header .page-header-nav .item:hover::before {
        width: 100%;
        -webkit-transition: width 0.2s linear;
        transition: width 0.2s linear;
    }
   




.page-header .page-header-search{
	float:right;
 margin-left:40px;
margin-top: 3px;
height: 13px;
    width:13px;
    
}

}

/*
.page-header .page-header-nav a{
   
    color:#4b515f;
    
}


.page-header .page-header-nav a:hover{
   
    color:#f7941d;
    
}
*/
@media only screen and (max-width:750px) {

	.page-header{
	height: 130px;
	
}



.page-header .page-header-logo{
	float:left;
	margin-top: 25px;

	
}

.page-header .page-header-logo a{
	width:280px;
	height: 62px;
	background: url("../images/phonelogo@2x.png");
	
}



    .page-header .page-header-nav .item {
        display: none;
    }










.page-header .page-header-list a{

height: 40px;
    width:28px;
    background: url("../images/list@2x.png");
}
	
	
	
}





.page-title{
      
    height: 80px;
    width:100%;
      background: #f7941d;

   
}


.page-title h1{
    font-size: 24px;
     text-align:center;
    line-height: 80px;
    color:#fff;
    
    
}

.page-content{
    
    margin-top: 64px;
    
    margin-bottom: 58px;
    
}

.page-content h3{
    text-align:center;
 color:#4b515f;
    
}


.page-content .faq-title{
	
	 text-align:left;
 color:#4b515f;
	font-weight: bold;
}


.page-content p{
    font-size: 16px;
 margin-bottom: 38px;   
   color:#646464; 
    line-height: 22px;
    letter-spacing:0.5px;
    
}


.page-content h6{
    font-size: 16px;
 color:#f7941d; 

    letter-spacing:0.5px;
    margin-bottom: 30px;
}




.miaoline{

    color:#646464;
   text-decoration: underline;
}



.gotoimg:hover{
 background:url("../images/gotoTOP.jpg");   
    
}






/*buy css */

.buy-top-bg{
	
		background: url("../images/buy-bg.jpg")no-repeat;
 background-size:cover;
background-position:center;
	
	height:687px;
	
}




.buy-header{
	height: 687px;

        background:url(../images/buy-bg.jpg) no-repeat center;

	
}



.buy-header .buy-header-logo{
	float:left;
	margin-top: 36px;

	
}

.buy-header .buy-header-logo a{
	width:200px;
	height: 44px;
	background: url("../images/logo.png");
    margin-right: 350px;
	
}









.buy-header .header-nav{
	
	float:left;
    font-size:14px;
	margin-top: 33px;
    margin-left:150px;
	
	
}


.buy-header .header-nav .item{
	
	
 position:relative;
	
	
	list-style: none;
		margin-left:40px;
		height: 26px;
		float: left;
		text-align: center;
		line-height: 26px;
		position: relative;
		z-index: 99;
	
	
	
	
	
}



/*
.buy-header .header-nav img{
width:12px;
margin-top: 14px;
position: absolute;

	right:-40px;
}
*/





.buy-header .header-nav .item:hover::before,
	.buy-header .header-nav .item:hover::after,
	.buy-header .header-nav .item:hover .tanchuang
	{
		display: block;
	}

.buy-header .header-nav a{
color:#fff;	
	
}

   




.buy-text {letter-spacing:0.8px;}
.buy-text{color:#FFF;font-size:34px;left:0px;float:left;margin-top:293px;position:absolute;line-height: 60px;font-weight: bold;}







.buy-header .buy-header-search{
	float:right;
 margin-left:40px;
margin-top: 3px;
height: 13px;
    width:13px;
    
}


.buy-page-line{
  
      
    height: 6px;
    width:100%;
      background-color: #f7941d;

   
}



.buy-content{
    
    
    
 
    
    
    
    margin-bottom: 224px;

    
}





.buy-content .productname p, .buy-content .productname h4{
   
    display: inline-block;
    
}


.buy-content .productname p{
    
    
/*     margin-left: 66px;*/
}



.buy-content .productname p{
    margin-top: 115px;
	font-weight: bold;
    color:#4b515f;
font-size: 50px;
        margin-right: 20px;
}

.buy-content .productname h4{
    margin-top: 132px;
    color:#4b515f;
font-size: 30px;
    margin-right:237px; 
}






.productinfo .productinfo-left{
    
/*    margin-left: 66px;*/
    float:left;
}



.productinfo .productinfo-right{
    
    float:left;
    
}


.buy-content .buy-actions{
	width:100%;
 
}
.buy-content .buy-actions .btn-buy{width:188px;height:60px;background:#f7941d;border:0 none;border-radius:45px;color:#FFF;
	
	
/*	display:inline-block;*/
	font-weight: 500;
	font-size:22px;outline:0 none;*vertical-align:middle;
      text-align: center;

line-height: 60px;
	
		margin:100px auto 0;

}


.buy-content .buy-actions .btn-buy:hover{background:#f9a239}
.buy-content .buy-actions .btn-buy:active{background:#f9a239}









        .pc .pop {  display: none;  width: 1001px; min-height: 392px;  max-height: 750px;  height:392px;  position: absolute;  top: 1500px;  left: 0;  bottom: 0;  right: 0;  margin: auto;  padding: 20px;  z-index: 130;  border-radius: 6px;  background-color: #fff;}
        .pc .pop-top{  height:22px;  width:100%;    }
        .pc .pop-top h2{  float: left;  display:black}
        .pc .pop-top span{  float: right;  cursor: pointer;  font-weight: bold; display:black}
        .pc .pop-foot{  height:50px;  line-height:50px;  width:100%;  border-top: 1px #E5E5E5 solid;  text-align: right;  }
        .pc .pop-cancel, .pop-ok {  padding:8px 15px;  margin:15px 5px;  border: none;  border-radius: 5px;  background-color: #337AB7;  color: #fff;  cursor:pointer;  }
        .pc .pop-cancel {  background-color: #FFF;  border:1px #CECECE solid;  color: #000;  }
        .pc  .pop-content{  height: 380px;  }
        .pc  .pop-content-left{  float: left; width:460px; }

        .pc .pop-content-text{text-align: center; color: #333;font-size: 24px;margin-top: 13px;}

		.pc .pop-content-line{margin-top: 54px;}
        .pc .uk-line {display: flex;height: 65px;}
        .pc .uk-line li{line-height: 65px;height:65px;}
        .pc .uk-line li:first-child{margin-top:18px; height:28px;margin-left: 44px;margin-right: 38px;}

        .pc .us-line {display: flex;margin-top: 33px;} 
      .pc .us-line li{line-height: 65px;height:65px;}
        .pc .us-line li:first-child{margin-top:18px; height:28px;margin-left: 44px;margin-right: 38px;}


        .pc  .pop-contetn-1px{  float: left;  }
        .pc .pop-content-right{  width:460px;  float: left;font-size: 16px;  line-height:35px;  }
        .pc .pop-content-right img{display: block; margin-left: 89px;margin-top:36px;  }
        .pc .pop-content-right .pop-content-text2{text-align: center; font-size: 24px;margin-top: 33px;}
        .pc .pop-content-right a{color: #333;}
        .pc .pop-content-right a:hover{color: #f7941d;}

        .pc  .bgPop{  display: none;  position: absolute;  z-index:129;  left: 0;  top: 0;  width: 100%;  height: 3500px;  background: rgba(0,0,0,.2);  }





.buy-text-s{
    letter-spacing: 0.4px;
    
    margin-top:33px;
    line-height: 20px;
    color:#a2a4aa;
font-size: 14px;
    text-align: center;  
}

/*
.buy-content h3{
    text-align:center;
 color:#4b515f;
    
}


.buy-content p{
    font-size: 16px;
 margin-bottom: 38px;   
   color:#646464; 
    line-height: 22px;
    letter-spacing:0.5px;
    
}


.buy-content h6{
    font-size: 16px;
 color:#f7941d; 

    letter-spacing:0.5px;
    margin-bottom: 30px;
}
*/




.buy-content-m{
    
    margin-top: 224px;
}



.buy-content-m-left{
    float: left;
    
    
}


.buy-content-m-right{
    
      float:left;
     margin-left: 40px;

}

.buy-content-m-right h1{
	
    margin-top: 24px;
    margin-bottom: 55px;
    font-size: 40px;
    color: #4b515f;
    
}




.buy-content-m-right p{
    
    
    font-size: 16px;
    color: #4b515f;
   margin-top: 25px;
    line-height: 28px;
    letter-spacing:0.4px;
}


/*鼠标悬停就有下划线*/


.product-tab .product-tab-li{float: left;
color:#4b515f;height:37px;line-height:37px;text-align:center;width:275px;font-size: 22px;font-weight: bold;height:47px;cursor:pointer;
}



.product-tab .product-tab-li:hover{
  border-bottom: 4px solid #f7941d;  
    
}



.product-tab .product-tab-li span { display:none; 
   
    width:550px; height:280px;
position: absolute; left:0;


}
.product-tab .product-tab-li:first-child span { display:block; }
.product-tab .product-tab-li:hover span { display:block; }


/*结束*/





     .test_box {
               width:550px;margin:30px auto;
                position: relative;
            }
     .test_tab {
                width: 50%;
              color:#4b515f;height:37px;line-height:37px;text-align:center;font-size: 22px;font-weight: bold;height:47px;
              
                float: left;
            }
     .test_label {
                cursor:pointer;
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
     
                text-align: center;
                
            }

    .test_label:hover{ color:#767980;}
    .test_radio,
    .test_tab_content {
                position: absolute;
                left: -999em;
            }
    .test_radio:checked ~ .test_tab_content {
           
           
                left: 0;
                right: 0;
            }
    .test_radio:checked ~ .test_label {
                background-color: #fff;
                 border-bottom: 4px solid #f7941d; 
                position: relative;
                z-index: 1;
            }




.mobile_test_box {
               width:95%;margin:30px auto;
                position: relative;
	height: 300px;
            }
.mobile_test_tab {
                width: 50%;
              color:#4b515f;height:37px;line-height:37px;text-align:center;font-size:0.42666rem;font-weight: bold;height:47px;
              
                float: left;
            }
.mobile_test_label {
                cursor:pointer;
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
         
                text-align: center;
                
            }

.mobile_test_label:hover{ color:#767980;}
.mobile_test_radio,
.mobile_test_tab_content {
	
	
	            margin-top:1rem;
                position: absolute;
                left: -999em;
            }
.mobile_test_radio:checked ~ .mobile_test_tab_content {
           
           
                left: 0;
                right: 0;
            }
.mobile_test_radio:checked ~ .mobile_test_label {
	  width: 95%;
                background-color: #fff;
                 border-bottom: 3px solid #f7941d; 
                position: relative;
                z-index: 1;
text-align: center;
            }



	.mobile_picBtnTop .hd{height:300px; float:left; right:5px; overflow:hidden; }
	.mobile_picBtnTop .hd ul li{ text-align:center; padding:5px 5px;  }
	.mobile_picBtnTop .hd ul li img{ width:0.74666rem; height:0.74666rem; border:1px solid #fff; cursor:pointer; vertical-align:bottom; margin-bottom:0.173333rem;
-moz-box-shadow:1px 1px 6px #969696; -webkit-box-shadow:1px 1px 6px #969696; box-shadow:1px 1px 6px #969696;

}

	.mobile_picBtnTop .hd ul li.on img{ border-color:#f7941d;  }
	.mobile_picBtnTop .bd{float:left;   }
	.mobile_picBtnTop .bd li{ position:relative; zoom:1; vertical-align:middle;}
	.mobile_picBtnTop .bd li .pic{ position:relative; z-index:0;  }
	.mobile_picBtnTop .bd li .pic img{width:5.6rem;  height:3.32rem; margin-left:1rem; }
	

	.mobile_picBtnTop .bd li .pic2 img{ width:2.5rem; margin-left: 2.5rem; }
	.mobile_picBtnTop .bd li .title{ margin-top: 0.13333rem; width:8.5rem; line-height:0.4rem; position:absolute; z-index:2;font-size:0.18666rem;color: #4b515f; text-align: center;background: #fff;}
.mobile_picBtnTop .bd li a{ margin-top:0.3rem; line-height:0.4rem;font-size:0.18666rem;color: #4b515f;display: inline;font-weight: 400; }
.mobile_picBtnTop .bd li a:hover{color: #f7941d;}
.mobile_picBtnTop .bd li .title2{  margin-top:0.3rem; width:7.5rem; line-height:0.4rem;z-index:2;font-size:0.18666rem;color: #4b515f; text-align: center;height: 0.4rem;}

.mobile_picBtnTop .bd li .title3{line-height: 0.5rem;font-weight: 400;  margin-top: 0.13333rem; width:7.5rem;font-size:0.18666rem;color: #4b515f; text-align: center;}
.mobile_picBtnTop .bd li .title5{line-height: 0.5rem;font-weight: 400;  margin-top: 0.7rem; width:8rem;font-size:0.18666rem;color: #4b515f; text-align: center;}
.mobile_picBtnTop .bd li .title6{line-height: 0.5rem;font-weight: 400;  margin-top: 0.2rem; width:8rem;font-size:0.18666rem;color: #4b515f; text-align: center;}


.mobile_picBtnTop .bd li .title3 img,.mobile_picBtnTop .bd li .title5 img,.mobile_picBtnTop .bd li .title6 img{display: inline-block;margin-top:-0.1rem;}










 .mobile-buy-actions{
	width:100%;
 
}
 .mobile-buy-actions .mobile-btn-buy{width:3.5rem;height:1.2rem;background:#f7941d;border:0 none;border-radius:0.6rem;color:#FFF;
	
	
/*	display:inline-block;*/

	font-size:0.4rem;outline:0 none;*vertical-align:middle;
      text-align: center;

line-height: 1.2rem;
	
		margin:1rem auto 0;

}


 .mobile-buy-actions .mobile-btn-buy:hover{background:#f9a239；}
 .mobile-buy-actions .mobile-btn-buy:active{background:#f9a239；}






.tabox{width:550px;margin:30px auto;}
.tabox .hd{overflow:hidden;}

.tabox .hd a{color:#4b515f }
.tabox .hd li{position:relative;margin-left:-1px;float:left;color:#4b515f;font-size: 22px;font-weight: bold;height:47px;
cursor:pointer;
}
.tabox .hd li.on{width:275px;background:#fff;border-bottom: 4px solid #f7941d;color:#4b515f;font-size: 22px;font-weight: bold;}
.tabox .bd{border-top:0;}
.tabox .lh{overflow:hidden;}
.tabox .lh li{width:156px;padding:0 10px;float:left;}

.tabox .lh li .p-img{background: url(../images/SIMcard.png) 0 0 no-repeat;width:328px;height:224px;margin-left:100px;margin-top: 54px;}



.tabox .lh li .p-name{line-height:18px;word-break:break-all;word-wrap:break-word;overflow:hidden;
color:#4b515f;font-size: 18px;text-align:left;
  

}

.tabox .lh li .p-name .p-line-us{
    
    line-height: 25px;
    padding-left:47px;
    padding-top: 42px;
    letter-spacing: 0.4px;
}





.tabox .lh li .p-name .p-lineheight{
    
    line-height: 30px;
    padding-left:47px;
    padding-top: 42px;
    letter-spacing: 0.4px;
}




	.picBtnTop{ width:550px; height:313px; padding:0 3px;  position:relative;  overflow:hidden;  zoom:1; margin-top: 46px;  }
	.picBtnTop .hd{ width:98px;  height:300px; float:left; right:5px; overflow:hidden; }
	.picBtnTop .hd ul li{ width:93px; text-align:center; padding:5px 5px;  }
	.picBtnTop .hd ul li img{ width:40px; height:40px; border:2px solid #fff; cursor:pointer; vertical-align:bottom; margin-bottom:13px;
-moz-box-shadow:1px 1px 12px #969696; -webkit-box-shadow:1px 1px 12px #969696; box-shadow:1px 1px 12px #969696;

}

	.picBtnTop .hd ul li.on img{ border-color:#f7941d;  }
	.picBtnTop .bd{ width:300px;  height:250px; float:left;   }
	.picBtnTop .bd li{ position:relative; zoom:1; vertical-align:middle;}
	.picBtnTop .bd li .pic{ position:relative; z-index:0;  }
	.picBtnTop .bd li .pic img{ width:350px; height:190px; margin-left: 30px; }
	.picBtnTop .bd li .pic2 img{ width:135px; margin-left: 110px; }
	.picBtnTop .bd li .title{ margin-top: 60px; width:360px; line-height:22px; position:absolute; z-index:2;font-size:14px;letter-spacing: 0.4px;color: #4b515f; text-align: center;background: #fff;}
.picBtnTop .bd li .title7{margin-top:76px;font-weight: 400; font-size:14px;color: #4b515f;text-align: center;width: 360px; }
.picBtnTop .bd li a{color: #4b515f;display: inline;}
.picBtnTop .bd li a:hover{color: #f7941d;}
.picBtnTop .bd li .title2{ margin-top: 22px; width:360px;z-index:2;font-size:14px;letter-spacing: 0.4px;color: #4b515f; text-align: center;background: #fff;}
.picBtnTop .bd li .title3{margin-top:-18px;letter-spacing: 0.4px; font-size:14px;color: #4b515f;text-align: center;width: 360px; }
.picBtnTop .bd li .title4{margin-top:-18px;font-weight: 400; font-size:14px;color: #4b515f;text-align: center;width: 360px; }
.picBtnTop .bd li .title5{margin-top:76px;letter-spacing: 0.4px; font-size:14px;color: #4b515f;text-align: center;width: 360px; }
.picBtnTop .bd li .title6{margin-top:-15px;font-weight: 400; font-size:14px;color: #4b515f;text-align: center;width: 360px; }
.picBtnTop .bd li .title3 img,.picBtnTop .bd li .title4 img,.picBtnTop .bd li .title5 img,.picBtnTop .bd li .title6 img{display: inline-block;margin-top:7px;}


 .buy-line-ttt{width:274px;height:224px;display:inline-block;font-size:20px;

 }







.buy-line-title-line{
    display:inline-block;
      color: #4b515f;
    font-size: 40px;
	font-weight: bold;
/*    margin:0 410px 0 ;*/
    margin-top: 224px;
    margin-left: 455px;
 }






.buy-line-ttt-line{width:50px;
    border-bottom: 4px solid #f7941d;
    margin:51px auto 48px;
 }


.product-list{
    overflow: hidden;
}

.product-list ul{
    position:relative;
	margin:0 auto;
    width:1260px;
}


.product-list .product-item{
    
    float:left;
    
    width:232px;
    
    margin-right: 25px;
    
}

.product-list .product-name{
    margin-top: 36px;
    font-size: 16px;
    color: #4b515f;
    
    text-align: center;
    letter-spacing: 0.4px;
}



.product-list .product-item:last-child {
    margin-right: 0;
}






.page-footer{
    width:100%;
    height:225px;
    padding-top:83px;
    background: #4b515f;
    
}


.page-footer .page-footer-nav{
    margin-bottom: 25px;
     text-align:center;
}

.page-footer .page-footer-nav .item{
    
  
    	display: inline-block;
    
    margin-left:36px;
    
}

.page-footer .page-footer-nav .item:first-child {
    margin-left: 0;
}



.page-footer .page-footer-nav a{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
}


.page-footer .page-footer-nav a:hover{
color:#f7941d;
transition:all 0.2s ease-in-out;
}

.page-footer .footer-line{
    
    margin: 0 auto; width:610px;
    
    
    border-top: 1px solid #e1e1e1;

}


.page-footer .footer-info{
    font-size: 14px;
    font-weight: bold;
    color:#c4c5c9;
    margin-top: 25px;
 text-align:center;
 
    letter-spacing:0.5px;
}


/*.main {margin:0 auto; width:80%; }*/
#help h2,#down h2{margin-left:100px; font-size:20px; line-height:20px; color:#f7941d; width:200px; font-weight:bold;}
#help dt{cursor:pointer; color:#4b515f; font-size:18px;margin-bottom:16px; font-weight: bold;}
#help dt:hover{color:#f7941d;}
#help dd{ display:none;color:#4b515f; font-size:18px;line-height:18px; letter-spacing:0.8px;}
#help dd p{margin-bottom: 35px;line-height:30px;}
#help dd p a{
	display: inline;
	font-weight: bold;
	color:#f7941d;
}
#help dt,#help dd{ margin-left:100px; position:relative;}
#help dt i,#help dd i{background:url(https://www.mypawfit.cn/css/images/ico.png) no-repeat; width:30px; height:30px; display:block; position:absolute; left:-40px; top:0px;}
#help dd i{background-position: 0 -35px;}
#help .mb{ padding:0px;}
#help .mt{margin-left:100px; font-size:20px; line-height:20px; color:#f7941d;  font-weight:bold;margin-bottom:20px; margin-top: 32px;}
#help .mt:first-child{
	margin-top: 0px;
}
table.gridtable {
	
	font-size:18px;
	color:#4b515f;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.gridtable th {
	
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;

}





